// Navigation code here
.nav-section {
  
  .displayFlex(space-evenly, center);
    width: 100%;
    padding: 60px;
    background-color: @nav-bg;
    border: 1px solid @sea-shell;

  .logo {
    position: absolute;
    font-size: 4.2rem;
    margin-top: -4%;
  }

  a {
    padding: 1.3vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    color: @nav-font;
  }

  @media @phone {

  }
}  